<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HotelReservationSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .footer-nav {
            background-color: #343a40;
            padding: 20px 0;
        }

            .footer-nav .nav-link {
                color: #fff !important;
                font-size: 1.1rem;
                padding: 0 15px;
            }

                .footer-nav .nav-link:hover {
                    color: #007bff !important;
                    text-decoration: underline;
                }

        .footer-divider {
            color: #fff;
            margin: 0 10px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hotel Rezervation Online</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-nav">
        <div class="container">
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Contacts" asp-action="Index">Контакти</a>
                </li>
                <li class="footer-divider">|</li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Terms" asp-action="Index">Умови використання</a>
                </li>
                <li class="footer-divider">|</li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Privacy" asp-action="Index">Політика конфіденційності</a>
                </li>
            </ul>
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
