@{
    ViewData["Title"] = "Умови використання";
}

<style>
    .terms-container {
        background-color: #f8f9fa;
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }

    .terms-header {
        font-size: 2.5rem;
        font-weight: 700;
        color: #343a40;
        margin-bottom: 20px;
        border-bottom: 3px solid #007bff;
        display: inline-block;
        padding-bottom: 10px;
    }

    .terms-content {
        font-size: 1.2rem;
        color: #6c757d;
        line-height: 1.6;
    }

        .terms-content h4 {
            font-size: 1.5rem;
            font-weight: 700;
            margin-top: 20px;
        }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="terms-container">
                <div class="terms-header">Умови використання</div>
                <div class="terms-content">
                    <p><strong>Ласкаво просимо на наш веб-сайт.</strong> Якщо ви продовжуєте переглядати та використовувати цей веб-сайт, ви погоджуєтесь дотримуватися та бути зобов'язаними наступними умовами використання, які разом з нашою політикою конфіденційності регулюють наші відносини з вами стосовно цього веб-сайту.</p>
                    <h4>Використання контенту</h4>
                    <p>Вміст сторінок цього веб-сайту є лише для загальної інформації та використання. Він може бути змінений без попередження.</p>
                    <h4>Відмова від відповідальності</h4>
                    <p>Ні ми, ні будь-які треті сторони не надають жодних гарантій або гарантій щодо точності, своєчасності, продуктивності, повноти або придатності інформації та матеріалів, знайдених або запропонованих на цьому веб-сайті для будь-якої конкретної мети.</p>
                    <!-- Add more terms and conditions here -->
                </div>
            </div>
        </div>
    </div>
</div>
